美发AI换发型发色_Dify导入.yml
app:
  description: 基于顾客自拍生成主方案、自然推荐和进阶推荐三张换发预览图
  icon: ✂️
  icon_background: '#E4FBCC'
  mode: workflow
  name: 美发AI换发型发色
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions: []
      allowed_file_types: []
      allowed_file_upload_methods: []
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
      image:
        enabled: false
        number_limits: 3
        transfer_methods: []
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: http-request
      id: start-http
      source: start
      sourceHandle: source
      target: hair-edit-http
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: end
      id: http-end
      source: hair-edit-http
      sourceHandle: source
      target: end
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: 接收 Hair AI 后端传入的临时自拍 URL 和造型参数
        selected: false
        title: 开始
        type: start
        variables:
        - label: job_no
          max_length: 64
          options: []
          required: true
          type: text-input
          variable: job_no
        - label: direction
          max_length: 16
          options: []
          required: true
          type: text-input
          variable: direction
        - label: selected_style
          max_length: 4096
          options: []
          required: true
          type: paragraph
          variable: selected_style
        - label: selected_color
          max_length: 4096
          options: []
          required: true
          type: paragraph
          variable: selected_color
        - label: recommendations
          max_length: 8192
          options: []
          required: true
          type: paragraph
          variable: recommendations
        - label: photo_temp_url
          max_length: 4096
          options: []
          required: true
          type: paragraph
          variable: photo_temp_url
      height: 264
      id: start
      position:
        x: 80
        y: 200
      positionAbsolute:
        x: 80
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: raw-body
            key: ''
            type: text
            value: |-
              {"job_no":"{{#start.job_no#}}","direction":"{{#start.direction#}}","photo_temp_url":"{{#start.photo_temp_url#}}","selected_style":{{#start.selected_style#}},"selected_color":{{#start.selected_color#}},"recommendations":{{#start.recommendations#}}}
          type: raw-text
        desc: 调用 AWS Hair AI 内部适配器，完成头发分割、mask 和万相编辑
        headers: 'Content-Type:application/json

          X-Internal-Token:__AI_ADAPTER_TOKEN__'
        method: post
        params: ''
        retry_config:
          max_retries: 1
          retry_enabled: true
          retry_interval: 1000
        selected: false
        ssl_verify: true
        timeout:
          connect: 15
          max_connect_timeout: 300
          max_read_timeout: 900
          max_write_timeout: 300
          read: 600
          write: 30
        title: 生成三张换发预览图
        type: http-request
        url: http://54.255.168.182:8000/internal/ai/dify-run
        variables: []
      height: 154
      id: hair-edit-http
      position:
        x: 390
        y: 250
      positionAbsolute:
        x: 390
        y: 250
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 返回后端要求的标准 JSON
        outputs:
        - value_selector:
          - hair-edit-http
          - body
          variable: result
        selected: false
        title: 结束
        type: end
      height: 90
      id: end
      position:
        x: 710
        y: 280
      positionAbsolute:
        x: 710
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 1
